body {
    font-family: "Hahmlet", serif;
    color: #616A6B;
    background-color: #FAD7A0;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 30px;
}

#aboutbackground {
    width: 100%;
}

.spices {
    text-align: left;
}